push constant 30000   // true  (gt)
push constant -20000
gt
push constant -30000  // false (gt)
push constant 20000
gt
push constant 30000   // false (lt)
push constant -20000
lt
push constant -30000  // true  (lt)
push constant 20000
lt
